{% import "quotes.twig" as quotes %}


{% if article.articleId > 0 %}
    {% set articleImg = '' %}
    {% if article.featuredMedia | length > 0 %}
        {% set imgWidth = 1280 %}
        {% set imgHeight = 720 %}
        {% if 'card-sm' in containerClass %}
            {% set imgWidth = 263 %}
            {% set imgHeight = 172 %}
        {% endif %}
        {% if 'card-md' in containerClass %}
            {% set imgWidth = 550 %}
            {% set imgHeight = 392 %}
        {% endif %}
    {% endif %}

    {% set placeholder = 'https://placeholdit.imgix.net/~text?txtsize=33&txt=Loading&w='~imgWidth~'&h='~imgHeight~'' %}
    {% set promotedClass = (article.isPromoted) ? 'ad_icon' : '' %}
    {% set hasArticleMediaClass = (article.hasMedia == 'TRUE') ? 'withImage__content': 'without__image' %}
    {% set figureClass =  article.featuredMedia['type'] == 'video' ? 'video' : '' %}

    {% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishDate) %}

    {% set title = article.title %}
    {% if article.titlePreview is defined and article.titlePreview != "" %}
        {% set title = article.titlePreview %}
    {% endif %}


    {% set articleTitle =  quotes.smarten(title) %}
    {% set swap = swap is defined and swap == 'false' ? '' : 'swap'  %}
    {% set imageSuppress = imageSuppress is defined and imageSuppress == 'true' ? 'true' : 'false'  %}
    

    {% if article.previewMedia %}
        {% set articleImg = _Media.getMediaUrl(article.previewMedia,imgWidth, imgHeight, {'crop': 'fill', 'gravity': 'faces'} ) %}
    {% else %}
        {% set articleImg = _Media.getMediaUrl(article.featuredMedia,imgWidth, imgHeight, {'crop': 'fill', 'gravity': 'faces'} ) %}
    {% endif %}
    
    <div class="{{containerClass}}">
        <a  href="{{article.url}}" 
            id="Article{{article.articleId}}"
            class="{{swap}} card other {{hasArticleMediaClass}}" 
            data-id="{{article.articleId}}" 
            data-position="{{position}}" 
            data-social="0" 
            data-article-image="{{articleImg}}" 
            data-article-text="{{Helper.htmlToText(article.title, -1) | raw | escape('html')}}">

            <article class="">
                {% if article.hasMedia == 'TRUE' and imageSuppress == 'false' %}
                    <figure class="{{ figureClass }}">
                        {% if lazyload == false %}
                            <div class="image-wrapper" {% if articleImg is not empty %} style="background-image:url('{{articleImg}}');" {%endif%}></div>
                        {% else %}
                            <div class="image-wrapper lazyload" data-original="{{articleImg}}" {% if articleImg is not empty %} style="background-image:url('{{placeholder}}');" {%endif%}></div>
                        {%endif%}
                    </figure>
                {% endif %}


                <div class="content">
                    <span class="category">{{article.label}}</span>
                    <time datetime="2016-11-16">{{_AppHelper.getDateTimeBasedOnTimezone(publishDate,'d M Y')}}</time>
                    <h2>{{ articleTitle }}</h2>
                    <span class="author">
                        {{ article.createdBy['displayName'] }}
                        {% for coauthor in article.createdBy['coauthors'] %}
                            &emsp;&emsp;&emsp;{{ coauthor['displayName'] }}
                        {% endfor %}

                    </span>
                    <p class="excerpt">{{ article.excerpt | raw }}</p>

                </div>
            </article>

            {% if article.userHasBlogAccess == '1' %}
            <div class="btn_overlay articleMenu">
                <button title="Hide" data-guid="{{article.guid}}" class="btnhide social-tooltip HideBlogArticle" type="button" data-social="0">
                    <i class="fa fa-eye-slash"></i><span class="hide">Hide</span>
                </button>
                <button onclick="window.location = '{{article.editUrl}}'; return false;" title="Edit" class="btnhide social-tooltip" type="button">
                    <i class="fa fa-edit"></i><span class="hide">Edit</span>
                </button>
                 {% set pinTitle = 'Pin Article' %}
                 {% set pinTxt = 'Pin' %}
                 {% set pinClass = '' %}
                 {% if article.isPinned == 1 %}
                     {% set pinTitle = 'Un-Pin Article' %}
                     {% set pinTxt = 'Un-Pin' %}
                     {% set pinClass = 'selected' %}
                 {% endif %}    
                <button data-position="{{position}}" data-social="0" data-id="{{article.articleId}}" title="{{pinTitle}}" class="btnhide social-tooltip PinArticleBtn {{pinClass}}" type="button" data-status="{{article.isPinned}}">
                    <i class="fa fa-thumb-tack"></i><span class="hide">{{pinTxt}}</span>
                </button>
            </div>
            {% endif %}
        </a>
    </div><!--swiper slide-->

{% else %}

    {% set social     = article.social %}
{#     {% set videoClass = (social.media['type'] == 'video') ? 'video' : '' %}#}
    {% set hasArticleMediaClass = (social.hasMedia == 'TRUE') ? 'withImage__content': 'without__image' %}
    {% set hasContent = (social.content == '') ? 'without__content': '' %}
    
    <div class="{{containerClass}}">
        <a  href="{{social.url}}"
            class="swap card social {{ social.source }}  {{hasArticleMediaClass}} {{hasContent}}" 
            id="Social{{article.socialId}}"
            data-id="{{article.socialId}}" 
            data-position="{{position}}" 
            data-social="1" 
            data-article-image="{{social.media['path']}}" 
            data-article-text="{{Helper.htmlToText(social.content, -1) | raw | escape('html')}}">

            <article class="">

                {% if social.hasMedia == 'TRUE' %}
                    <figure>
                        <div class="image-wrapper lazyload" data-original="{{social.media['path']}}" {% if social.media['path'] is not empty %} style="background-image:url('{{placeholder}}');"{%endif%}></div>
                    </figure>
                {% endif %}


                <div class="content">
                    <span class="category">{{social.source}}</span>
                    <span class="article-icon"></span>
                    <time datetime="2016-11-16">{{_AppHelper.getDateTimeBasedOnTimezone(social.publishDate,'d M Y')}}</time>         
                    <h2 class="socialContent is-truncated" id="updateSocial{{article.socialId}}" data-update="0">
                        {{ social.content | preg_replace('/(@.+?) /', '<span style="color:#0099cc">$1</span> ') 
                                         | raw }}</h2>

                    <span class="author">{{ (social.source == _SocialFeed.getSocialArticleSourceIsTwitter()) ? '@' : ''}}{{ social.user['name'] | lower }}</span>

                </div>
            </article>

            {% if article.userHasBlogAccess == '1' %}
            <div class="btn_overlay articleMenu">
                <button title="Hide" data-guid="{{social.guid}}" class="btnhide social-tooltip HideBlogArticle" type="button" data-social="1">
                    <i class="fa fa-eye-slash"></i><span class="hide">Hide</span>
                </button>
                    <button title="Edit" class="btnhide social-tooltip editSocialPost" type="button" data-url="/admin/social-funnel/update-social?guid={{social.blog['guid']}}&socialguid={{social.guid}}">
                    <i class="fa fa-edit"></i><span class="hide">Edit</span>
                    </button>
                 {% set pinTitle = 'Pin Article' %}
                 {% set pinTxt = 'Pin' %}
                 {% set pinClass = '' %}
                 {% if article.isPinned == 1 %}
                     {% set pinTitle = 'Un-Pin Article' %}
                     {% set pinTxt = 'Un-Pin' %}
                     {% set pinClass = 'selected' %}
                 {% endif %}
                <button data-position="{{position}}" data-social="1" data-id="{{article.socialId}}" title="{{pinTitle}}" class="btnhide social-tooltip PinArticleBtn {{pinClass}}" type="button" data-status="{{article.isPinned}}">
                    <i class="fa fa-thumb-tack"></i><span class="hide">{{pinTxt}}</span>
                </button>
            </div>
            {% endif %}
        </a>
    </div><!--swiper slide-->

{% endif %}
