{% set blogInfo = _Blog.getBlog() %}
{% set networkData = _Network.getNetworkData() %}

{{ set(this, 'title', blogInfo.title) }}

{% set limit = 20 %}
{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{% set profileImg = false %}
{% if blogInfo.owner['media'] is defined and blogInfo.owner['media'] | length > 0 %}
    {% set profileImg = _Media.getMediaUrl(blogInfo.owner['media'], 100, 100, {radius:'max', crop: 'thumb', gravity: 'face'}) %}
{% endif %}


{% set blogThumbImage = false %}
{% if blogInfo.media['thumb']['path'] is not empty %}
    {% set blogThumbImage = _Media.getMediaUrl(blogInfo.media['thumb'], 100, 100, {radius:'max', crop: 'thumb', gravity: 'face'}) %}
{% endif %}


{% set blogImage = false %}
{% if blogInfo.media['cover']['path'] is not empty %}
    {% set blogImage = blogInfo.media['cover']['path'] %}
{% endif %}    


{% set socialLinks = false %}



{{this.registerJs("HomeController.listing();")}}
{{this.registerJs("HomeController.blog();")}}


   <section class="blog-page-hero">

        <div class="image-wrapper" style="background-image: url({{ blogImage }} );">
            <div class="container hero-caption">

                <span class="author">BY {{ blogInfo.owner.display_name }}</span>
                <h1>{{ blogInfo.title }}</h1>
                
                {% if not _User.isGuest %}
                    {% set isUserFollowingBlog = _User.isUserFollowing('blog', blogInfo.id) %}
                    {% if isUserFollowingBlog %}
                        <a href="#" class="btn btn-black">FOLLOW -</a>
                    {% else %}
                        <a href="#" class="btn btn-black">FOLLOW +</a>
                    {% endif %}
                {% else %}
                    <a href="#" class="btn btn-black forceLoginModal">FOLLOW +</a>
                {% endif %}



            </div><!--hero-caption-->
        </div><!--image-wrapper-->
   </section><!--page-hero-->

   <section class="author-bio">
        <div class="container">
            {% if blogThumbImage %}
                <img src="{{ blogThumbImage }}" alt="Blog Thumb image">
            {% else %}
                <img src="{{ profileImg }}" alt="Author image">
            {% endif %}


            <p>{{ blogInfo.shortDescription }}</p>
            <ul class="social-links">

                {% for name, link in blogInfo.settings['social'] if link != "" %}
                    <li><a href="{{link}}" target="_blank"><span class="sr-only">{{name}}</span><span class="{{name}}-blk icon"></span></a></li>
                {% endfor %}    

{#                 <li><a href="#"><span class="sr-only">Facebook</span><span class="facebook-blk icon"></span></a></li>
                <li><a href="#"><span class="sr-only">Twitter</span><span class="twitter-blk icon"></span></a></li>
                <li><a href="#"><span class="sr-only">Instagram</span><span class="instagram-blk icon"></span></a></li>
 #}                <li><a href="#"><span class="sr-only">Mail</span><span class="mail-blk icon"></span></a></li>
           </ul>
        </div>
   </section>

   <section class="blog-posts container">
        <div class="row">
            {% if articles[0] %}
                {{this.render('partials/_single-article.twig', {article: articles[0], 'position': 1, containerClass: 'col-sm-6 card-md', cardClass : 'other'}) | raw}}
            {% endif %}
            {% if articles[1] %}
                {{this.render('partials/_single-article.twig', {article: articles[1], 'position': 2, containerClass: 'col-sm-3 card-sm', cardClass : 'facebook'}) | raw}}
            {% endif %}
            {% if articles[2] %}
                {{this.render('partials/_single-article.twig', {article: articles[2], 'position': 3, containerClass: 'col-sm-3 card-sm', cardClass : 'twitter'}) | raw}}
            {% endif %}
            {% if articles[3] %}
                {{this.render('partials/_single-article.twig', {article: articles[3], 'position': 4, containerClass: 'col-sm-3 card-sm', cardClass : 'other'}) | raw}}
            {% endif %}
            {% if articles[4] %}
                {{this.render('partials/_single-article.twig', {article: articles[4], 'position': 5, containerClass: 'col-sm-6 card-md', cardClass : 'other'}) | raw}}
            {% endif %}
            {% if articles[5] %}
                {{this.render('partials/_single-article.twig', {article: articles[5], 'position': 6, containerClass: 'col-sm-3 card-sm', cardClass : 'other'}) | raw}}
            {% endif %}
            {% if articles[6] %}
                {{this.render('partials/_single-article.twig', {article: articles[6], 'position': 7, containerClass: 'col-sm-6 card-md', cardClass : 'other'}) | raw}}
            {% endif %}
            {% if articles[7] %}
                {{this.render('partials/_single-article.twig', {article: articles[7], 'position': 8, containerClass: 'col-sm-3 card-sm', cardClass : 'other'}) | raw}}
            {% endif %}
            {% if articles[8] %}
                {{this.render('partials/_single-article.twig', {article: articles[8], 'position': 9, containerClass: 'col-sm-3 card-sm', cardClass : 'other'}) | raw}}
            {% endif %}
        </div><!--row-->
   </section><!--blog-posts-->