{% set headerClass = '' %}
{% if pageClass | split(' ')[0] != 'article' and blog.type == 'channel' %}
    {% set headerClass = 'channel-page' %}
{% endif %}

    <header id="masthead" class="site-header container-fluid {{headerClass}} {{ pageClass }}">
        <div class="site-branding col-md-3 col-sm-2">
            <div class="logo pull-left">
                <a class="navbar-brand" href="{{networkData.defaultBlogUrl}}" rel="Home"  title="Home">
                    <img id="main-logo" src="{{networkData.templatePath}}/static/images/ATHLETE.png" class="main-logo" alt="ATH Logo">
                </a>
                <a class="navbar-brand" href="{{networkData.defaultBlogUrl}}" rel="Home" tabindex="-1" title="Home">
                    <img src="{{networkData.templatePath}}/static/images/CN-logo.png?ver=1" alt="logo" class="mobile-logo">
                </a>

            </div>
        </div><!-- .site-branding -->

        <nav class="sb-custom-menu">

            <ul id="menu-primary-menu" class="menu">
                {% set menuItems = blog.blogHeaderMenu %}

                    {% for parentItem in menuItems %}

                        {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                        {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}
                        <li class="menu-item">
                            
                            <a  href="{{parentItem.link |raw}}"
                                title="{{parentItem.short_description}}"
                                data-tipped-options="position: 'bottom'"
                                class="{{activeClass}} {{externalClass}} tool_tipped" 
                                {% if parentItem.target != "" %} target="{{parentItem.target}}"{% endif %}>
                                {{ ((parentItem.blogTitle is empty) ? 
                                        ( (parentItem.pageTitle is empty) ? parentItem.label : parentItem.pageTitle ) 
                                    : parentItem.blogTitle )}}
                            </a>
                        </li>

                    {% endfor %}

                <li id="menu-item-search" class="menu-item menu-item-search">
                    <a href="#" class="search-icon"><span class="icon-search icon"></span><span class="sr-only">Expand search</span></a>

                    <ul class="sub-menu normal-sub search-sub-menu">
                        <li class="search-container">
                            <fieldset>
                                <form method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search">
                                    <label for="header-search" class="assistive-text sr-only">Search</label>
                                    <input type="text" class="field" name="s" id="header-search" placeholder="Search" required="">
                                    <button class="btn btn-default" type="submit" id="searchsubmit">
                                        <span class="icon icon-search-blk"></span>
                                        <span class="screen-reader-text"></span>
                                    </button>
                                </form>
                            </fieldset>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>  
    </header>
